
.dropdown {
  text-decoration: none;
}

/* Authentication */
.auth {
  margin-top: 50px;
  text-align: center;
}

.logo {
  text-align: center;
  font-weight: 100;
  font-size: 80px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

a.logo {
  color: #5B5B5B;
}

a {
  cursor: pointer;
}

.validate {
  text-indent: 8px;
}

.auth input {
  background-color: #fff;
  border: 1px solid;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  font-size: 1em;
  text-indent: 8px;
  min-height: 30px;
  margin-top: 0.2rem;
  width: 200px;
}

.auth button {
  background-color: #39aaf1;
  color: white;
  border: 1px solid;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  font-size: 1em;
  min-height: 34px;
  margin-top: 0.2rem;
  width: 200px;
}
